.item {
    font-family: Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
    border-radius: 0.5pc;
    box-shadow: none;
    cursor: pointer;
    transition: all 450ms ease;
}

.item:hover {
    box-shadow: inset 0 0px 34px -18px var(--box-shadow-color);
}

.img {
    max-width: 30px;
}

.id {
    width: 110px;
    font-size: 15px;
    font-weight: 650;
    text-align: left;
    color: var(--title-color);
    transition: all 450ms ease;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}